body {
  background: white; /* try type yellow */
  color: #323232;

  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#scoreboard,
#buttons,
#reset {
  width: 100%;
}
#numWins,
#numLosses,
#numDraws {
  display: inline-flex;
  padding: 1em;
}
#rock,
#paper,
#scissors {
  display: inline-flex;
  padding: 2em;
}
#resetButton {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 2em;
}
